<% layout('layout') %>

	<div class="row justify-content-center">
		<div class="col-6">
			<% if (message.length > 0) { %>
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<%= message %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<% } %>
					<h2>Add a new category</h2>
					<form class="form-signin col-ms-5" method="POST" action="/admin/category/add">
						<div class="form-group">
							<label for="categoryName">Category name</label>
							<input type="text" name='categoryName' class="form-control" id="categoryName" required placeholder="Category name">
						</div>
						<button class="btn btn-primary" type="submit">Add</button>
						<a href="/admin" class="btn btn-secondary">Cancel</a>
					</form>
		</div>
	</div>