main {
	margin-top: 56px;
}

.container {
	padding-top: 2rem;
}
.btn {
	margin-left: 5px;
	margin-right: 5px;
}
input:read-only {
	color: white;
}

input:read-only:focus {
	color: white;
}

.product-page .product-info div {
	margin: 20px;
}
.product-page .product-name {
	font-size: 36px;
	font-weight: bold;
}
.product-page .product-price {
	font-size: 30px;
	font-weight: bold;
}

.cart-item {
	margin: 20px 0;
	padding: 20px;
	min-height: 105px;
	background-color: #4e5d6c;
}

.cart-item--image {
	text-align: center;
}

.cart-item--image img {
	width: 200px;
}

.cart-item--info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.credit-card-box .panel-title {
	display: inline;
	font-weight: bold;
}
.credit-card-box .form-control.error {
	border-color: red;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.credit-card-box label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}
.credit-card-box .payment-errors {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}
.credit-card-box label {
	display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
	display: table;
}
.credit-card-box .display-tr {
	display: table-row;
}
.credit-card-box .display-td {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
	min-width: 180px;
}
table {
	margin: 20px;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1 solid #f3f3f3; /* Light grey */
	border-top: 5px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#overlay {
	z-index: 99999999;
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

.badge {
	font-size: 16px;
}
