<% layout('layout') %>

	<div class="row justify-content-center">
		<div class="col-6">
			<form class="form-signin col-ms-5" method="POST" action="/profile/edit">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" readonly class="form-control" value="<%= user.email %>" id="exampleInputEmail1" aria-describedby="emailHelp"
					 placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="username">User name</label>
					<input type="text" class="form-control" name="username" value="<%= user.profile.name %>" id="username" placeholder="User name"
					 required>
				</div>
				<div class="form-group">
					<label for="address">Address</label>
					<input type="text" class="form-control" name="address" value="<%= user.address ? user.address : '' %>" id="address" placeholder="Address">
				</div>
				<div class="row justify-content-center">
					<button class="btn btn-primary" type="submit">Save</button>
					<a href="/profile" class="btn btn-secondary">Cancel</a>
				</div>

			</form>
		</div>
	</div>