<% layout('layout') %>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Ale-Store</h1>

      <% if(!user) { %>
        <a class="btn btn-primary btn-lg" href="/register" role="button">Register &raquo;</a>
        <% } %>
          </p>
    </div>
  </div>