<% layout('layout') %>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img class="w-100 h-auto" src="<%= product.image %>" alt="No photo available">
			</div>
			<div class="col-md-4">
				<%= product.name %>
			</div>
			<div class="col-md-4">
				<%= product.price %> &euro; </div>
		</div>
	</div>